@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoseyTextured';
  src: url('/PoseyTexturesRegular.woff2') format('woff2'),
       url('/PoseyTexturedRegular.woff') format('woff');
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center top; 
  background-attachment: fixed;
  font-family: 'PoseyTextured', 'Montserrat', sans-serif;
   
}




/* body {
  background-image: url("/backgroundcheck3.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center top; 
  background-attachment: fixed;
  font-family: 'PoseyTextured', 'Montserrat', sans-serif;
   
} */

/* body {
  background-image: url("/backgroundcheck4.png");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: 0 0 50%; 
  background-attachment: fixed;
  font-family: 'PoseyTextured', 'Montserrat', sans-serif;
   
} */


 

@media (max-width: 640px) {
  body {
    padding-top: 60px; /* Adjust padding for smaller screens where navbar is taller */
  }
}