@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoseyTextured';
  src: url('/PoseyTexturesRegular.woff2') format('woff2'),
       url('/PoseyTexturedRegular.woff') format('woff');
}

body {
  background-image: url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top; /* Ensures background starts at the top */
  background-attachment: fixed;
  font-family: 'PoseyTextured', 'Montserrat', sans-serif;
    /* Add padding to account for the navbar */
}

@media (max-width: 640px) {
  body {
    padding-top: 60px; /* Adjust padding for smaller screens where navbar is taller */
  }
}
